
h3{
margin: auto;
padding: 25px;
color: #9122B9;
text-decoration: #9122B9 underline;

}

#sign-up-client{
    color: #9122B9;
    accent-color: rgb(140, 255, 0);
    margin: 10px 10px;
    border: 1px solid #9122B9;
    

}

body{
    background-color: #9122B9;
    background-size: cover;
    background-position: center;
}

#sign-up-box{
    background-color: white;
    width: 300px;
    text-align: center;
    margin:5% auto;
    border-radius: 20px;
    padding: auto;
    
}

.sign-up-input-box{
    width: 70%;
    padding: 5px 10px;
    padding-left: 5%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #BF40BF;
    
}
.sign-up-input-box:hover{

    color: #DA70D6;
}

#sign-up-one{
    text-decoration: none;
    color: #BF40BF;
    
}
#sign-up-one:hover{
    color: #DA70D6;
}

.sign-up-button{
    background-color: #BF40BF;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #f0e0e0;

}

.sign-up-button:hover{
    color: #DA70D6;
}

#sign-up-para{
    padding: 30px;
}
